/* line 2, app/assets/stylesheets/active_admin/_status-tags.scss */
.status_tag.reserved, .status_tag.pending {
  background: #b1b8b2;
}

/* line 5, app/assets/stylesheets/active_admin/_status-tags.scss */
.status_tag.canceled, .status_tag.rejected, .status_tag.error {
  background: #d1847c;
}

/* line 8, app/assets/stylesheets/active_admin/_status-tags.scss */
.status_tag.confirmed, .status_tag.approved, .status_tag.success {
  background: #7ebe88;
}
