SECRET_KEY_BASE:
SERVER_URL: 'localhost:3000'
PASSWORD_RESET_URL: 'http://127.0.0.1:3000'
SENDGRID_USERNAME:
SENDGRID_PASSWORD:
AWS_ACCESS_KEY_ID:
AWS_SECRET_ACCESS_KEY:
S3_BUCKET_NAME:
AWS_BUCKET_REGION:
SLACK_WEBHOOK_URL:
SLACK_CHANNEL_BOOKING:
SLACK_CHANNEL_CHURN:
SLACK_CHANNEL_SUBSCRIPTIONS:
SLACK_CHANNEL_CHARGE_ERROR:
CANCELLATION_PERIOD:
UNLIMITED_CREDITS_CANCELED_OUT_OF_TIME_PRICE:
FREE_SESSION_CANCELED_OUT_OF_TIME_PRICE:
UNLIMITED_CREDITS_NO_SHOW_UP_FEE:
JERSEY_RENTAL_PRICE:
JERSEY_PURCHASE_PRICE: "49.99"
TOWEL_PURCHASE_PRICE: "10.99"
WATER_PURCHASE_PRICE: "7.99"
ACTIVE_CAMPAING_API_URL:
ACTIVE_CAMPAING_API_KEY:
REFEREE_SESSIONS_NOTIFICATIONS_ENABLED: "true"
SEM_SESSIONS_NOTIFICATIONS_ENABLED: "false"
