<body style='padding: 20px;'>
  <h1>New request for subscription cancellation</h1>
  <p><%= @user.full_name.titleize %> has requested a subscription cancellation:</p>
  <p style="white-space: pre-line"><%= @reason %></p>
</body>
