.location-info {
  font-size: 20px;
  text-align: left;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  max-width: 750px;
  margin: 40px 0 60px 0;
}

.content-info {
  font-size: 20px;
  text-align: left;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  width: 750px;
  border-spacing: 0 15px;
}

.font-black {
  font-weight: 900;
}

.info-table-image-container {
  width: 80px;
  text-align: center;
  vertical-align: initial;
}

.info-table-title {
  font-size: 22px;
  font-weight: 900;
  margin: 0 0 5px 0;
}

.info-table-item-ball {
  width: 50px;
  text-align: center;
  vertical-align: initial;
}

.info-table-item-text {
  margin: 2px;
}
