<table width="100%" height="720px" cellspacing="0" cellpadding="0" style="background-color: #FAF7F2; padding-top: 20px">
  <tr>
    <td valign="top">
      <table cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td align="center">
            <tr>
              <td align="center">
                <a target="_blank" href="https://www.cross-court.com/">
                  <img
                    src="https://hjofat.stripocdn.email/content/guids/CABINET_ea09485e297e5611d7a3b7f412e3257e/images/77371600288777917.png"
                    style="display: block;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;max-width:560px"
                  >
                </a>
              </td>
            </tr>
            <tr>
              <td align="center">
                <%= link_to confirmation_url(@resource, confirmation_token: @token) do %>
                  <img
                    src="https://hjofat.stripocdn.email/content/guids/CABINET_ea09485e297e5611d7a3b7f412e3257e/images/76841600289069695.png"
                    style="display: block;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width:226px"
                  >
                <% end %>
              </td>
            </tr>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
