<table width="100%" cellspacing="0" cellpadding="0" style="padding-top: 20px">
  <tr>
    <td valign="top">
      <table cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td align="center">
            <tr>
              <td align="center">
                <a target="_blank" href="https://www.cross-court.com/">
                  <img
                    src="https://d3k81ch9hvuctc.cloudfront.net/company/K5fCFg/images/c20db615-67b5-4893-8d4c-8e71caca47e7.png"
                    style="width:400px;margin-bottom: 3rem;"
                  >
                </a>
              </td>
            </tr>
            <tr>
              <td align="center">
                <img
                  src="https://d3k81ch9hvuctc.cloudfront.net/company/K5fCFg/images/7d598e1c-ecf5-4e72-b799-f6acd20d2e53.png"
                  style="width:750px"
                >
              </td>
            </tr>
            <tr>
              <td align="center">
                <h1 style="width: 660px;font-family: arial;font-weight: 400;padding-top: 1rem">
                  Welcome to Crosscourt! Please confirm your email address to complete your registration and apply your First Session Free Credit!
                </h1>
              </td>
            </tr>
            <tr>
              <td align="center">
                <%= link_to confirmation_url(@resource, confirmation_token: @token) do %>
                  <img
                    src="https://d3k81ch9hvuctc.cloudfront.net/company/K5fCFg/images/13c415c2-130e-454d-bbfc-be4cefaa27fb.png"
                    style="width:226px;margin-top: 2rem"
                  >
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="https://d3k81ch9hvuctc.cloudfront.net/company/K5fCFg/images/62afa199-f8ff-4bb4-9bd7-58789adda14d.png"
                  style="width:226px;margin-top: 2rem; padding-left:15%"
                >
              </td>
            </tr>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
