<body style="padding: 0; min-width: 100%; margin: 0 auto; background-color: #1a1a1a" width="100%">
  <table
    width="100%"
    cellspacing="0"
    cellpadding="0"
    style="background-color: #1a1a1a;">
    <tbody width="100%">
      <tr style="vertical-align: top" valign="top">
        <td style="vertical-align: top" valign="top">
          <table cellspacing="0" cellpadding="0" align="center" style="background-color: #1a1a1a;">
            <tr>
              <td align="center">
                <tr>
                  <td align="center" style="padding: 2rem">
                    <div style="border-collapse: collapse; display: table; width: 100%; background-color: transparent">
                      <div style="display: table-cell; vertical-align: top; min-width: 246px; width: 250px">
                        <div style="width: 100% !important">
                          <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                            <div style="text-align: left">
                              <img
                                src="https://d3k81ch9hvuctc.cloudfront.net/company/K5fCFg/images/33645152-d4e3-4117-886c-376fa54e17cc.png"
                                style="width: 80px"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div style="display: table-cell; vertical-align: top; max-width: 320px; min-width: 246px; width: 250px">
                        <div style="width: 100% !important">
                          <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top: 5px; padding-bottom: 5px; padding-right: 0px; padding-left: 0px;">
                            <div style="text-align: right">
                              <img
                                src="https://d3k81ch9hvuctc.cloudfront.net/company/K5fCFg/images/8cff1364-3565-4b11-936d-cf6092700569.png"
                                style="width: 67px"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <img
                      style="margin-top: 40px; margin-bottom: 40px"
                      src="https://d3k81ch9hvuctc.cloudfront.net/company/K5fCFg/images/ef5da4c9-f095-410a-aa17-938dec5286a7.png"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="padding: 2rem; color: white; font-size: 24px; font-family: arial; font-weight: 400; max-width: 500px; padding-top: 1rem;">
                    <p>
                      Hey <%= @resource.first_name %>,
                    </p>
                    <p>
                      Welcome to Crosscourt. Confirm your email address and receive a credit for a Free Trial Session. It expires
                      in 30 days so don't forget to book!
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding-bottom: 10rem">
                    <%= link_to confirmation_url(@resource, confirmation_token: @token) do %>
                      <img
                        src="https://d3k81ch9hvuctc.cloudfront.net/company/K5fCFg/images/e1adc61b-d901-4729-8f9e-2141243fbe30.png"
                        style="width: 226px; margin-top: 2rem"
                      />
                    <% end %>
                  </td>
                </tr>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
