<div>
  <%= form_tag(subscriptions_admin_user_path, method: :post) do %>
    <%= render 'subscription_information', user: user %>
    <%= render 'create_or_update_subscription',
               user: user,
               products: products,
               payment_methods: payment_methods,
               referral_users: referral_users %>
  <% end %>
</div>
