<section>
  <p><%= t('mailer.session.welcome', name: @user_name) %></p>
  <br>
  <p><%= t('mailer.session.new.confirmation') %></p>
  <p><%= t('mailer.session.new.time', date: @date.strftime(Session::DATE_FORMAT),
                                      time: @time.strftime(Session::TIME_FORMAT)) %>
  </p>
</section>
<br>
<section>
  <br>
  <p><%= t('mailer.greeting') %></p>
</section>
