.status_tag {
  &.reserved, &.pending {
    background: #b1b8b2;
  }
  &.canceled, &.rejected, &.error {
    background: #d1847c;
  }
  &.confirmed, &.approved, &.success {
    background: #7ebe88;
  }
}
