.status_tag {
  &.reserved,
  &.pending {
    background: #b1b8b2;
  }
  &.canceled,
  &.rejected,
  &.error {
    background: #d1847c;
  }
  &.no_show {
    background: #d2cd82;
  }
  &.confirmed,
  &.approved,
  &.success,
  &.paid {
    background: #7ebe88;
  }
  &.refunded {
    background: #fde68a;
  }
  &.partially_refunded {
    background: #fed7aa;
  }
}
